server:
  port: 8764   
spring:
  application:
    name: config-server  
  cloud:
    config:
      server:
        git:
          uri: https://github.com/sb33060418/testSpringCloudConfig.git                          # 配置git仓库的地址
          search-paths: src/main/resources/properties                             # git仓库地址下的相对地址，可以配置多个，用,分割。
          username: sb33060418                                             # git仓库的账号
          password: sunnybuaa1                                            # git仓库的密码